# SPDX-FileCopyrightText: spike0en
# SPDX-License-Identifier: MIT

name: Dodge Flashable Firmware

on:
  workflow_dispatch:
    inputs:
      fw_version:
        description: 'Target Firmware (e.g., PJZ110_16.0.0.212(CN01) / CPH2649_16.0.0.210(EX01) etc)'
        required: true
        type: string
      boot_url:
        description: 'Direct URL to *-image-boot.7z (Find in release assets at https://github.com/spike0en/oneplus_archive)'
        required: true
        type: string
      firmware_url:
        description: 'Direct URL to *-image-firmware.7z (Find in release assets at https://github.com/spike0en/oneplus_archive)'
        required: true
        type: string
      signal_fix_cn_url:
        description: 'Direct URL to *-image-firmware.7z for PJZ110 model (Find in release assets at https://github.com/spike0en/oneplus_archive/releases?q=PJZ110&expanded=true)'
        required: true
        type: string

jobs:
  dodge-firmware-repack:
    runs-on: ubuntu-latest
    permissions: write-all
    outputs:
      zip_name: ${{ steps.repack.outputs.zip_name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Installing dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y aria2 p7zip-full

      - name: Make repack script executable
        run: chmod +x scripts/repack.sh

      - name: Repacking
        id: repack
        run: ./scripts/repack.sh
        env:
          FW_VERSION: ${{ inputs.fw_version }}
          BOOT_URL: ${{ inputs.boot_url }}
          FIRMWARE_URL: ${{ inputs.firmware_url }}
          SIGNAL_FIX_CN_URL: ${{ inputs.signal_fix_cn_url }}

      - name: Finalizing Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.fw_version }}
          name: ${{ inputs.fw_version }}
          body: ${{ inputs.fw_version }}
          files: ${{ steps.repack.outputs.zip_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
